<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <h1>Müzik Dükkanım</h1>
        <ul>
          <li><a href="../index.html">Anasayfa</a></li>
          <li><a href="./product.html">Ürünlerimiz</a></li>
          <li><a href="#">Hakkımızda</a></li>
        </ul>

        <h2>Hakkımızda</h2>
      </div>

      <div class="about">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laboriosam ipsa exercitationem ex! Vero esse, et ducimus earum quod tenetur magnam vitae eveniet voluptatem autem ipsa numquam possimus, inventore odio?</p>

        <h3>Vizyonumuz</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quas.</p>
        <h3>Misyonumuz</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, adipisci maxime? Nulla quas dolorem impedit?</p>
        
      </div>
    </div>
  </body>
</html>
