<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <h1>Müzik Dükkanım</h1>
        <ul>
          <li><a href="../index.html">Anasayfa</a></li>
          <li><a href="#">Ürünlerimiz</a></li>
          <li><a href="./about.html">Hakkımızda</a></li>
        </ul>

        <h2>Ürünlerimiz</h2>
      </div>

      <div class="product">
        <ol>
          <li>
            <img src="../img/Bateri.jpg" alt="Bateri" />
            <p>Bateri <strong>6000</strong> TL</p>
          </li>
          <li>
            <img src="../img/Davul.jpg" alt="Davul" />
            <p>Davul <strong>5000</strong> TL</p>
          </li>
          <li>
            <img src="../img/Gitar.jpg" alt="Gitar" />
            <p>Gitar <strong>7000</strong> TL</p>
          </li>
          <li>
            <img src="../img/Piyano.jpg" alt="Piyano" />
            <p>Piyano <strong>3000</strong> TL</p>
          </li>
        </ol>
      </div>
    </div>
  </body>
</html>
